.bubble-wrap {
    display: flex;
    flex-direction: column;
        h2 {
            align-self: center;
            color: white;
        }
}

.big-bubs {
    margin-top: 4em;
    display: flex;
    box-sizing: content-box;
    background-position: center 20%;
    background-size: cover;
    border-radius: 50%;
    border-style: double;
    border-width: .5pc;
    border-color: grey;
    align-self: center;
    height: 18em;
    width: 18em;
        .image {
            object-fit: cover;
            border-radius: 50%;
            // size-adjust: auto;
            overflow: hidden;
            filter: brightness(85%)

        }
        
}