.big-bubs {
    background-position: center 20%;
    background-size: cover;
    background-color: black;    
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    align-self: center;
    height: 18em;
    width: 18em;
    left: 0;
    // position: absolute;
    // top: 0;
    // width: 100%;

}