.single-artist-page {
// padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
//   height: 100vh;
  width: 100%;
  background: linear-gradient(
    36deg,
    rgba(4, 4, 4, 1) 22%,
    rgba(30, 20, 70, 1) 50%,
    rgba(72, 4, 94, 1) 81%,
    rgba(6, 125, 125, 0.9836528361344538) 100%
  );
  align-items: center;
  button {
    color: #3f1c5f;
    background-color: #95fcfc6b;
    font-weight: 900;
//     margin-right: 1.5em;
//     margin-left: 0;
    height: 2em;
    width: 2em;
  }
}

.video-list-container {
  display: flex;
  justify-content: space-around;
  height: 60vh;
  width: 90%;
}

.youtube-vid {
  width: 50vw;
  height: 90%;
}

.related-artists {
//   border: 0.25em solid black;
border: 2px solid rgba(197, 140, 238, 0.74);
border-radius: .8rem;
  overflow-y: scroll;
  height: 90%;
  width: 30em;
}

.header-section {
  display: flex;
  align-items: center;
  width: 81%;
  justify-content: space-between;
  h1 {
    color: white;
//     margin-left: 1em;
    font-size: xx-large;
    font-weight: 800;
  }
}

.article {
  width: 90%;
}

.article-box {
     width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: larger;
  font-weight: 700;
}

label {
  color: whitesmoke;
//   padding-left: 0.5em;
//   padding-right: 0.5em;
  margin: 1.5rem;
  font-size: large;
  font-weight: 800;
//   align-self: center;
}

.wiki-link {
  margin-top: 1rem;
  border-style: groove;
  border-width: 0.5px;
//   margin-left: 4em;
}
