.bubble-box {
    height: 100vh;
    border-style: solid;
    border-color: black;
    background-color: #ebe4e7;
        .banner {
            height: 24vh;
            background-color: #dcc1ce;
        }
}