.start-game-button {
  color: #3f1c5f;
  background-color: #95fcfc;
  font-weight: 500;
  margin-right: 1.5em;
  margin-left: 0;
  height: 2em;
}

.game-display {
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.game-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60%;
}
