.search-bar {
    height: 2em;
    align-self: flex-end;
    margin-right: .5em;
    margin-bottom: 2em;
        input {
            background-color: #95fcfc;
        }
    
    .submit {
        color: #3f1c5f;
        background-color: #95fcfc;
        font-weight: 500;
        margin-right: 1.5em;
        margin-left: 0;
        height: 2em;  
    }  
}
