.header {
    background: linear-gradient(36deg, rgba(4,4,4,1) 22%, rgba(30,20,70,1) 50%, rgba(72,4,94,1) 81%, rgba(6,125,125,0.9836528361344538) 100%);
    width: 100vw;
    height: 6em;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
    h1 {
     margin-left: .2em;   
     font-size: 3em;
     color: #95fcfc;
    }
    .search-bar {
        height: 2em;
        align-self: flex-end;
          .select {
              background-color: #b3dee2;
              height: 2em;
              width: 6emem;
          }
          .search {
              background-color: #b3dee2;
              height: 1.75em;
          }
        .submit {
            background-color: #b3dee2;
            margin-right: 1em;
            height: 2em;
            width: 3em;
            align-self: flex-end;  
        }  
    }
    .favorites {
        background-color: #b3dee2;
        margin-right: .2em;
        height: 2em;
        width: 6em;
        align-self: flex-end;
    }
    
}