.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    36deg,
    rgb(4, 4, 4) 22%,
    rgb(30, 20, 70) 50%,
    rgb(72, 4, 94) 81%,
    rgba(6, 125, 125, 0.9836528361) 100%
  );
  height: 4em;
  display: flex;
    h4 {
        color: #95fcfc;
    }
}
