.related-item {
  /* height: 1em; */
  border: 2px solid rgb(113 46 161 / 74%);
  margin: .5rem;
  /* border-color: rgb(113 46 161 / 74%); */
  border-radius: .8rem;
  cursor: pointer;
}

.related-blorb {
  margin-left: 1rem;
}



a {
  font-weight: 600;
  text-decoration: none;
  color: whitesmoke;
}
