.related-blorb {
    height: 1em;
    border-style: solid;
    margin: .5em;
    border-color: rgba(113, 46, 161, 0.316);
    border-radius: 15px;
    cursor: pointer;
}

a {
    font-weight: 600;
    text-decoration: none;
    color: whitesmoke
}